/********** NAVBAR **********/

.navbar {
  .logo,
  .navbar-collapse {
    padding: 0 3rem;
  }

  .logo {
    margin-left: 5rem;

    font-size: 2rem;

    text-transform: uppercase;

    transition: all 0.2s linear;

    .gold {
      color: gold;

      transition: all 0.2s linear;
    }

    &:hover {
      color: gold;

      .gold {
        color: white;
      }
    }
  }

  .navbar-nav {
    margin-right: 5rem;

    .nav-item {
      .nav-link {
        margin-left: 2rem;

        font-weight: 500;

        text-transform: uppercase;
        letter-spacing: 0.15rem;

        transition: all 0.2s linear;

        border-top: 2px solid transparent;

        &:hover {
          border-top: 2px solid gold;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .navbar {
    .logo {
      font-size: 1.3rem;
    }

    .navbar-toggler {
      &.collapsed {
        padding: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    .logo,
    .navbar-toggler {
      padding: 0 1rem;
    }

    .logo {
      margin-left: 0rem;
    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: white;
          margin: 1rem 0 0 0;
          padding-left: 0.5rem;

          border-top: none;
          border-left: 2px solid transparent;

          &:hover {
            border-top: none;
            border-left: 2px solid gold;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    .logo,
    .navbar-toggler {
      padding: 0 1rem;
    }

    .logo {
      margin-left: 0rem;
    }

    .navbar-nav {
      margin-right: 0rem;
    }
  }
}

@media (min-width: 1920px) {
  .navbar {
    .navbar-nav {
      margin-right: 0rem;
    }
  }
}
